* {
  box-sizing: border-box  
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 1rem;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero{
    padding: 2rem 1rem;
}

.proyectos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card {
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* TABLET */

@media (min-width: 768px){
    nav{
        flex-direction: row;
    }
    .proyectos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        width: calc(50% - 0.5rem);
    }
}

/* DESKTOP */
@media (min-width: 1024px){
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        
    }
    .hero{
        max-width: 1000px;
        margin: auto;
        padding: 4rem 2rem;
    }
    .proyectos{
        max-width: 1000px;
        margin: auto
    }
    .card{
        width: calc(33.33% - 0.67rem);
    }
}